{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% block content %}
{% load myapptags %}
{% breadcrumbs as breadcrumb %}
{% advertisements as adverts %}

{% include 'breadcrumb-news.html' %}
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<!-- Account Navigation -->
						<div class="card">
							<div class="card__header">
								<h4>User information</h4>
							</div>
							<div class="card__content">
								<nav class="df-account-navigation">
									<ul>
										<li class="df-account-navigation__link"><a href="javascript:void(0);">Personal Information</a>
										</li>
										<li class="df-account-navigation__link"><a href="{% url 'user_orders' %}">Orders</a></li>
										<li class="df-account-navigation__link"><a href="{% url 'user_update' %}">Update Profile</a>
										</li>
										<li class="df-account-navigation__link"><a href="{% url 'user_password' %}">Change Password</a>
										</li>
										
									</ul>
								</nav>
								
							</div>
						</div><!-- Account Navigation / End -->
					</div>
					<div class="col-lg-8">
						<!-- Personal Information -->
						<div class="card card--lg">
							<div class="card__header">
								<h4> {{user.username}}</h4>
							</div>
							<div class="card__content">
								<form action="#" class="df-personal-info">
									<div class="form-group form-group--upload">
										<div class="form-group__avatar"><img
												src="{{ profile.image.url }}" alt="">
											<div class="form-group__label">
												<h6>Profile Photo</h6><span>Minimum size 60x60px</span>
											</div>
										</div>
										
									</div>
                              <div>
								<table class="df-checkout-review-order-table table">

                            
									<tr>
										
										<!-- <td><img src="{{ profile.image.url }}" style="border-radius: 45px; height: 200px "></td> -->
									</tr>
									<tr>
										<th class="text-left">Name </th>
										<td class="text-left">{{ user.first_name}} {{ user.last_name}}
										</td>
									</tr>
									<tr>
										<th class="text-left">Email</th>
										<td class="text-left">{{ profile.user.email}}</td>
									</tr>
									<tr>
										<th class="text-left">Phone</th>
										<td class="text-left">{{ profile.phone }}</td>
									</tr>
									<tr>
										<th class="text-left">Addres</th>
										<td class="text-left">{{ profile.address }}</td>
									</tr>
									<tr>
										<th class="text-left">City</th>
										<td class="text-left">{{ profile.city }}</td>
									</tr>
									<tr>
										<th class="text-left">State</th>
										<td class="text-left">{{ profile.state }}</td>
									</tr>
		
								</table>
							  </div>
									
								</form>
							</div>
						</div><!-- Personal Information / End -->
					</div>
				</div>
			</div>
		</div>
{% endblock content %}