{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}
{% block content %}


{% load myapptags %}
{% breadcrumbs as breadcrumb %}


<!-- page heading -->
{% if breadcrumb.store %}
<img src="{{breadcrumb.store.url}}" class="img-fluid" alt="...">
<!-- advert -->
{% endif %}
<!-- Page Heading / End -->
</div><!-- Page Heading / End -->
<!-- Content
================================================== -->
<div class="site-content">
    <div class="container">


        {% if shopcart %}
        <!-- Shopping Cart -->
        <div class="card card--has-table">
            <div class="card__header">
                <h4>Your Shopping Cart</h4>
            </div>
            <div class="card__content">
                <div class="table-responsive">
                    <table class="table shop-table">
                        <thead>
                            <tr>
                                <th class="product__photo">Photo</th>
                                <th class="product__info">Product Info</th>
                                <th class="product__quantity">Quantity</th>
                                <th class="product__total">Total</th>
                                <th class="product__remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rs in shopcart %}
                            <tr>
                                <td class="product__photo">
                                    <figure class="product__thumb"><a href="/product/{{rs.id}}/{{rs.slug}}"><img
                                                src="{{rs.product.image.url}}" alt=""></a>
                                    </figure>
                                </td>
                                <td class="product__info"><span class="product__cat">{{rs.product.category}}</span>
                                    <h5 class="product__name"><a
                                            href="/product/{{rs.id}}/{{rs.slug}}">{{rs.product.title}}</a></h5>
                                    <div class="product__ratings">
                                        <i class="fas fa-star {% if rs.product.averagereview < 1%} empty{% endif%}"></i>
                                        <i class="fas fa-star {% if rs.product.averagereview < 2%} empty{% endif%}"></i>
                                        <i class="fas fa-star {% if rs.product.averagereview < 3%} empty{% endif%}"></i>
                                        <i class="fas fa-star {% if rs.product.averagereview < 4%} empty{% endif%}"></i>
                                        <i class="fas fa-star {% if rs.product.averagereview < 5%} empty{% endif%}"></i>
                                    </div>
                                </td>


                                <td class="product__quantity">
                                    <div class="quantity-control"><input type="number" value="{{rs.quantity}}"
                                            class="form-control input-sm"> </div>
                                </td>
                                <td class="product__total">₦{{rs.price|intcomma}}</td>
                                <td class="product__remove"><a href="/deletefromcart/{{rs.id}}"
                                        onclick="return confirm('Are you sure you want to remove item?')"
                                        class="fas fa-times product__remove-icon"></a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- Shopping Cart / End -->
        <!-- Shipping Details -->
        <div class="row shipping-details-row">

            <div class="col-lg-4">
                <!-- Cart Totals -->
                <div class="card card--has-table">
                    <div class="card__header">
                        <h4>Cart Totals</h4>
                    </div>
                    <div class="card__content">
                        <!-- Checkout Review Order -->
                        <div class="df-checkout-review-order">
                            <div class="table-responsive">
                                <table class="df-checkout-review-order-table table">
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">₦{{ total|intcomma }}</span>
                                            </td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Shipping and Handlings</th>
                                            <td><span class="amount">₦1,000</span>
                                            </td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Cart Total</th>
                                            <td><span class="amount">₦{{ total|intcomma }}</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div><!-- Checkout Review Order / End -->
                        <!-- Checkout Payment -->
                        <div class="df-checkout-payment">
                            <div class="place-order"><a href="{% url 'checkout' %}"
                                class="btn btn-primary-inverse btn-block">Checkout</a>></div>
                        </div><!-- Checkout Payment / End -->
                    </div>
                </div><!-- Cart Totals / End -->
            </div>
        </div><!-- Shipping Details / End -->
        {% else %}
        <div class="card card--has-table">
            <div class="card__header">
                <h4>Shopping Cart is Empty</h4>
                <ul class="category-filter category-filter--carousel category-filter--extra-space">
                    <li class="category-filter__item"><a href="{% url 'shop' %}"
                        class="btn btn-primary btn-outline btn-xs card-header__button">Go to Store</a>
                    </li>
                  
                </ul>
                
            </div>
           
        </div>
        {% endif %}


    </div>
</div>



{% endblock content %}