{% load static %}

<head>
    <!-- Basic Page Needs
	================================================== -->
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sports Club, football podcast, League and News ">
    <meta name="author" content="Ceasar++">
    <meta name="keywords" content="sports club news football podcast">
    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" type="image" href="{% static '' %}assets/images/monkeyfav.png" type="image/x-icon">
    <link rel="icon" type="image" href="{% static '' %}assets/images/monkeyfav.png">
 
    <link rel="apple-touch-icon" sizes="120x120"
        href="{% static '' %}assets/images/monkeyfav.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="{% static '' %}assets/images/monkeyfav.png">
    <!-- Mobile Specific Metas
	================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <!-- Google Web Fonts
	================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CSource+Sans+Pro:400,700" rel="stylesheet">
    <!-- CSS
	================================================== -->


    <!-- jquery -->
    <script src="{% static '' %}assets/js/jquery-3.6.0.min.js"></script>

    <!-- Vendor CSS -->
    <link href="{% static '' %}assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{% static '' %}assets/fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="{% static '' %}assets/fonts/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="{% static '' %}assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="{% static '' %}assets/vendor/slick/slick.css" rel="stylesheet"><!-- Template CSS-->
    <link href="{% static '' %}assets/css/style-basketball-dark.css" rel="stylesheet"><!-- Custom CSS-->
    <link href="{% static '' %}assets/css/custom.css" rel="stylesheet">

</head>