<div class="slick posts posts-slider posts--slider-top-news">
    <!-- Slide # -->
    <div class="slick__slide">
        <div class="posts__item posts__item-has-img posts__item--category-1">
            <!-- Main Image -->
            <figure class="posts__thumb effect-duotone effect-duotone--primary"><img
                    src="{% static '' %}assets/images/football/samples/hero1.png" alt=""></figure>
            <!-- Main Image / End -->
            <!-- Player Image -->
            <div class="posts__img-player"><img src="{% static '' %}assets/images/football/samples/cr7.png"
                    alt="Hero Unit Image"></div><!-- Player Image / End -->
            <!-- Post Content -->
            <div class="posts__inner">
                
                <h3 class="posts__title"><a href="#">The Alchemists player <span
                            class="posts__title-higlight">Steven Masterson</span> breaks a new world record</a>
                </h3>
                
            </div><!-- Post Content / End -->
        </div>
    </div><!-- Slide # / End -->
    <!-- Slide # -->
    <div class="slick__slide">
        <div class="posts__item posts__item--category-2">
            <!-- Main Image -->
            <figure class="posts__thumb effect-duotone effect-duotone--tertiary"><img
                    src="{% static '' %}assets/images/football/samples/hero-slide2.jpg" alt=""></figure>
            <!-- Main Image / End -->
            <!-- Post Content -->
            <div class="posts__inner">
               
                <h3 class="posts__title"><a href="#">Alchemists coach on <span
                            class="posts__title-higlight">Jake Summer's injury</span> "It looks really bad"</a>
                </h3>
               
            </div><!-- Post Content / End -->
        </div>
    </div><!-- Slide # / End -->
    <!-- Slide # -->
    <div class="slick__slide">
        <div class="posts__item posts__item--category-1">
            <!-- Main Image -->
            <figure class="posts__thumb effect-duotone effect-duotone--primary"><img
                    src="{% static '' %}assets/images/football/samples/hero-slide3.jpg" alt=""></figure>
            <!-- Main Image / End -->
            <!-- Post Content -->
            <div class="posts__inner">
               
                <h3 class="posts__title"><a href="#">The team is gonna <span class="posts__title-higlight">make
                            a trip to the beach</span> for a small vacation</a></h3>
               
            </div><!-- Post Content / End -->
        </div>
    </div><!-- Slide # / End -->
    <!-- Slide # -->
    <div class="slick__slide">
        <div class="posts__item posts__item--category-3">
            <!-- Main Image -->
            <figure class="posts__thumb effect-duotone effect-duotone--quaternary"><img
                    src="{% static '' %}assets/images/football/samples/hero-slide4.jpg" alt=""></figure>
            <!-- Main Image / End -->
            <!-- Post Content -->
            <div class="posts__inner">
               <h3 class="posts__title"><a href="#">The Clovers defense <span
                            class="posts__title-higlight">must reinvent itself</span> without Adam Howlett</a>
                </h3>
            </div><!-- Post Content / End -->
        </div>
    </div><!-- Slide # / End -->
</div>