{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}


{% block content %}
{% load myapptags %}
{% breadcrumbs as breadcrumb %}
{% advertisements as adverts %}



{% include 'breadcrumb-news.html' %}
<!--  -->

<div class="">
	<marquee width="100%" scrollamount="4" loop="infinite" color="#ffffff" direction="left">
		{% for rs in news_slide %}
		<strong class="text-primary"> [ {{rs.category}} ] --</strong><span class="text-white"> {{rs.news}}</span> ||
		{% endfor %}

	</marquee>
</div>

<div class="site-content">
	<div class="container">
		<div class="row">
			<div class="content col-lg-8">
				<div class="d-flex justify-content-center ">
					<div id="spinner-box" class="spinner-border text-primary  mb-2" role="status">

					</div>
				</div>

				<!-- Video Highlights -->
				<div class="card card--no-paddings" id="postvideo">



					<!-- Video Highlights / End -->


				</div>
			</div>
			<div id="sidebar" class="sidebar col-lg-4">
				
				
				
				<aside class="widget card widget--sidebar widget-banner">
					<div class="widget__title card__header">
						<h4>Advertisement</h4>
					</div>
					<div class="widget__content card__content">
						<figure class="widget-banner__img"><a
								href="" alt="Banner"></a></figure>
					</div>
				</aside><!-- Widget: Banner / End -->
				<!-- Widget: Popular News -->
                <aside class="widget widget--sidebar card widget-popular-posts">
                    <div class="widget__title card__header">
                        <h4>Trending News</h4>
                    </div>

                    <div class="widget__content card__content">
                        <ul class="posts posts--simple-list">
                            {% for rs in top_trends %}
                            <li class="posts__item posts__item--category-{{rs.category.id}}">
                                <figure class="posts__thumb"><a href="{% url 'blog_detail' rs.id rs.slug %}"><img
                                            src="{{rs.image.url}}" style="width: 80px;" alt=""></a>
                                </figure>
                                <div class="posts__inner">
                                    <div class="posts__cat"><span class="label posts__cat-label">{{rs.category}}</span>
                                    </div>
                                    <h6 class="posts__title"><a
                                            href="{% url 'blog_detail' rs.id rs.slug %}">{{rs.title}}</a></h6>
                                    <time datetime="2016-08-23" class="posts__date">{{rs.date|timesince}} ago</time>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside><!-- Widget: Popular News / End -->
			</div>
		</div>
	</div>
	<!-- modal -->
	<div class="modal fade" id="previewmodal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-lg modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="width: 100%;" id="exampleModalLabel">Match Highlight____________________</h5>



					<button type="button" class="close" data-dismiss="modal" id="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="iframe" class="modal-body">
					<!-- <iframe id="Geeks3" class="embed-responsive-item" controls=1 width="100%" height="315"
				   src="https://www.youtube.com/embed/D2EEj-i1UEo" allowfullscreen></iframe> -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary close" data-dismiss="modal"
						aria-label="Close">Close</button>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static '' %}assets/js/test.js"></script>
{% endblock script %}