{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}

{% block content %}
{% load myapptags %}
{% breadcrumbs as breadcrumb %}
{% advertisements as adverts %}

<!-- page heading -->
{% include 'breadcrumb-news.html' %}
<!-- Page Heading / End -->
		<!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<!-- Account Navigation -->
						<div class="card">
							<div class="card__header">
								<h4>Update Password</h4>
							</div>
							<div class="card__content">
								<nav class="df-account-navigation">
									<ul>
										<li class="df-account-navigation__link"><a href="{% url 'account' %}">Go Back</a>
										</li>
										
									</ul>
								</nav>
							</div>
						</div><!-- Account Navigation / End -->
					</div>
					<div class="col-lg-8">
						<!-- Personal Information -->
						<div class="card card--lg">
							<div class="card__header">
								<h4>Update</h4>
							</div>
                           


							<div class="card__content">
								<form  method="post" enctype="multipart/form-data" class="df-personal-info">
                                    {% csrf_token %}
                                    <div class="form-group"><label for="account-address-1">Current Password</label> <input type="password" autocomplete="current-password" id="id_old_password"
                                        name="old_password" class="form-control text-white" required/></div>
									
                                   
									<div class="row">
										<div class="col-md-6">
											<div class="form-group"><label for="account-city">new Password</label>
												<input type="password" id="id_new_password1" class="form-control text-white" name="new_password1"
                                                        autocomplete="new-password" required /></div>
										</div>
										<div class="col-md-6">
											<div class="form-group"><label for="account-postcode">Confirm Password</label>
                                                <input type="password" id="id_new_password2" class="form-control text-white" name="new_password2"
                                                autocomplete="new-password" required /></div>
										</div>
									</div>
                                  
                                 
									<div class="form-group--submit"><button type="submit"
											class="btn btn-default btn-lg btn-block">See all the changes</button></div>
                           
									
								</form>
							</div>
						</div><!-- Personal Information / End -->
					</div>
				</div>
			</div>
		</div>
{% endblock content %}