{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mptt_tags %}
<!-- seo -->
{% block seo %}
<title>{{title}}</title>
<meta name="description" content="">
<meta name="author" content="The Monkey Post">
<meta name="keywords" content="">
{% endblock seo %}
<!--  -->

{% block content %}
{% load myapptags %}
{% breadcrumbs as breadcrumb %}
{% advertisements as adverts %}

{% include 'breadcrumb-video.html' %}
<div class="modal fade" id="modal-login-register-tabs" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal--login modal--login-only" role="document">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button></div>
            <div class="modal-body">
                <div class="modal-account__item">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="mb-4">
                            <img src="{% static '' %}assets/images/login_register_bg.png" alt="">
                        </div>
                        <!-- Tab: Login -->
                        <div role="tabpanel" class="tab-pane fade show active" id="tab-login">
                            <!-- Login Form -->
                            <form action="/login/" method="POST" class="modal-form">
                                {% csrf_token %}
                                <h5>Login to your account</h5>
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control"
                                        placeholder="Enter your Username...">
                                </div>
                                <div class="form-group"><input type="password" name="password" class="form-control"
                                        placeholder="Enter your Password..."></div>
                                <div class="form-group form-group--password-forgot"><label
                                        class="checkbox checkbox-inline"><input type="checkbox" value="option1"
                                            checked="checked"> Remember Me <span
                                            class="checkbox-indicator"></span></label>

                                    <span class="password-reminder">Forgot your password? <a
                                            href="{% url 'password_reset' %}">Click
                                            Here</a></span>
                                </div>
                                <!-- <div class="form-group form-group--pass-reminder"><label
                                        class="checkbox checkbox-inline">
                                        <input type="checkbox"
                                            id="inlineCheckbox1" value="option1" checked="checked"> Remember
                                        Me <span class="checkbox-indicator"></span></label> 
                                        
                                        <a
                                        href="{% url 'password_reset' %}" class="text-white">Forgot your password? </a></div> -->
                                <div class="form-group form-group--submit"><button type="submit"
                                        class="btn btn-primary-inverse btn-block">Enter to your account</button>
                                </div>
                                <!-- <div class="modal-form--social">
                                    <h6>or Login with your social profile:</h6>
                                    <ul class="social-links social-links--btn text-center">
                                        <li class="social-links__item"><a href="#"
                                                class="social-links__link social-links__link--lg social-links__link--fb"><i
                                                    class="fab fa-facebook"></i></a></li>
                                        <li class="social-links__item"><a href="#"
                                                class="social-links__link social-links__link--lg social-links__link--twitter"><i
                                                    class="fab fa-twitter"></i></a></li>
                                        <li class="social-links__item"><a href="#"
                                                class="social-links__link social-links__link--lg social-links__link--gplus"><i
                                                    class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div> -->
                            </form><!-- Login Form / End -->
                        </div><!-- Tab: Login / End -->
                        <!-- Tab: Register -->
                        <div role="tabpanel" class="tab-pane fade" id="tab-register">
                            <!-- Register Form -->
                            <form action="/register/" method="POST" class="modal-form">
                                {% csrf_token %}
                                <h5>Register Now!</h5>
                                <div class="form-group"><input type="text" name="username" class="form-control"
                                        placeholder="Enter your Username..."></div>
                                <div class="form-group"><input type="email" name="email" class="form-control"
                                        placeholder="Enter your email address..."></div>
                                <div class="form-group"><input type="text" name="first_name" class="form-control"
                                        placeholder="Enter your first name..."></div>
                                <div class="form-group"><input type="text" name="last_name" class="form-control"
                                        placeholder="Enter your last name..."></div>
                                <div class="form-group"><input type="password" name="password1" class="form-control"
                                        placeholder="Enter your password..."></div>
                                <div class="form-group"><input type="password" name="password2" class="form-control"
                                        placeholder="Repeat your password..."></div>
                                <div class="form-group form-group--submit"><button type="submit"
                                        class="btn btn-success btn-block">Create Your Account</button></div>
                                <!-- <div class="modal-form--note">You’ll receive a confirmation email in your
                                    inbox with a link to activate your account.</div> -->
                            </form><!-- Register Form / End -->
                        </div><!-- Tab: Register / End -->
                    </div><!-- Nav tabs -->
                    <div class="nav-tabs-login-wrapper">
                        <ul class="nav nav-tabs nav-justified nav-tabs--login" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#tab-login" role="tab"
                                    data-toggle="tab">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-register" role="tab"
                                    data-toggle="tab">Register</a></li>
                        </ul>
                    </div><!-- Nav tabs / End -->
                </div>

            </div>
        </div>
    </div>
</div>








<div class="modal fade bd-example-modal-sm show" aria-labelledby="mySmallModalLabel" id="previewmodal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
           



                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            </div>
            <div id="iframe" class="modal-body">
                <!-- <iframe id="Geeks3" class="embed-responsive-item" controls=1 width="100%" height="315"
               src="https://www.youtube.com/embed/D2EEj-i1UEo" allowfullscreen></iframe> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close" data-dismiss="modal"
                    aria-label="Close">Close</button>

            </div>
        </div>
    </div>
</div>


<div class="">
    <marquee width="100%" scrollamount="4" loop="infinite" color="#ffffff" direction="left">
        {% for rs in news_slide %}
        <strong class="text-primary"> [ {{rs.category}} ] --</strong><span class="text-white"> {{rs.news}}</span> ||
        {% endfor %}

    </marquee>
</div>

<nav class="content-filter">
    <div class="container"><a href="#" class="content-filter__toggle"></a>
        <ul class="content-filter__list">
            <li class="content-filter__item content-filter__item--active"><a href="{% url 'blog' %}"
                    class="content-filter__link">Video Category</a></li>
            {% for rs in video_category %}
            <li class="content-filter__item"><a href="/videos-category/{{rs.id}}/{{rs.slug}}"
                    class="content-filter__link">{{rs.title}}</a></li>
            {% endfor %}

        </ul>
    </div>
</nav>


<!-- content -->
<div class="site-content">
    <div class="container">
        <div class="card card--clean">
            <header class="card__header card__header--has-filter">
                <h4>The Monkey Post Podcast <i class="fas fa-arrow-left"></i>   <i class="fas fa-arrow-right"></i></h4>
                <ul class="category-filter category-filter--carousel category-filter--extra-space">
                    <li class="category-filter__item"><a href="javascript:void(0)"
                            class="category-filter__link category-filter__link--reset category-filter__link--active">All</a>
                    </li>

                </ul>
            </header>
            <div class="card__content">
                <!-- Carousel -->
                <div class="slick posts posts--carousel  video-carousel">
                    {% for rs in podcast %}
                    <div class="card pl-0" style="width: 18rem;">
                        <div class="card-body my-vid" data-toggle="modal" data-target="#previewmodal"
                            data-vid="{{rs.link}}">
                            <img class="vidphoto card-img-top" src="{{rs.image.url}}" alt="{{rs.title}}">
                            <p class="card-text">{{rs.title}}</p>
                        </div>
                    </div>

                    {% endfor %}

                </div><!-- Carousel / End -->
            </div>
        </div>
        <div class="card card--clean">
            <header class="card__header card__header--has-filter">
                <h4>Videos</h4>
            </header>
        </div>
        
        
        <div class="row" id="postvideo">

            {% for rs in videos %}
            <!-- <div class="col-lg-6">

                <div class="card" style="width: 100%;">
                    <div class="embed-responsive embed-responsive-21by9">

                    </div>
                    <div class="card-body">
                        <img src="{{rs.image.url}}" alt="">
                        <p class="card-text">{{rs.title}}</p>
                    </div>
                </div>


            </div> -->

            <div class="col-lg-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body my-vid" data-toggle="modal" data-target="#previewmodal"
                        data-vid="{{rs.link}}">
                        <img class="vidphoto" src="{{rs.image.url}}" alt="{{rs.title}}">
                        <p class="card-text">{{rs.title}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>



        <div class="justify-content-center">


            <nav aria-label="Page navigation example ">
                <ul class="pagination justify-content-center">
                    {% if is_paginated %}

                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}

                    <li class="page-item">

                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                        {% endif %}


                        {% endif %}


                </ul>
            </nav>
        </div>






    </div>
</div>










{% endblock content %}


{% block script %}
<script>
    $(document).ready(function () {
        $('#previewmodal').on('shown.bs.modal', function () {
            $('#iframe').trigger('focus')
        });

    });
</script>

<script src="{% static '' %}assets/js/videos.js"></script>

{% endblock script %}